<meta charset="UTF-8" />
<title>ECE LAB2</title>

<link rel="stylesheet" href="/css/bootstrap.css" />
<style>
  body {
    padding-top: 50px;
  }
</style>
<!-- <script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.js"></script> -->
