<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="container">
    <div class="col-md-12">
      <h1>Hello <%= name %></h1>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>

      <br /><br />
      <a href="/home"
        ><button type="button" class="btn btn-outline-primary btn-sm">
          retourner button
        </button></a
      >
    </div>

    <!-- <script>
      $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("../metrics.js", {}, (data) => {
          const content = data.map(d => {
          return '<p>timestamp: '+d.timestamp+', value: '+d.value+'</p>';
      })
      $('#metrics').append(content.join("\n"));
    });
  })
    </script> -->
  </body>
</html>
