<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-12 lead">Homepage</div>
    </div>
    <p class="text-center"><u>the page where you connect</u></p>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 lead">
        <p class="text-left">look at the right</p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 lead">
        <p class="text-right">
          <a href="/hello" class="text-right"
            ><button type="button" class="btn btn-outline-danger">
              go to the hello page
            </button></a
          >
        </p>
      </div>
      <div class="col-md-12 col-sm-6 col-xs-12 lead">
        <p class="text-center"><a href="/error"> Go to 404 page</a></p>
      </div>
    </div>
  </body>
</html>
